<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="/hieu/header::head-header">

</head>
<body>
<div th:replace="/hieu/header::header">

</div>
<div class="content row">
    <!--    left side-->
    <div class="col-sm-3 bg-warning">
        <div class="overflowSide">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="d-flex flex-row user-info">
                        <a href="/dangchothemsau">
                            <div class="img-container" th:if="${nguoidung.photo}">
                                <img class="img-thumbnail" th:src="${nguoidung.photo}" width="70">
                            </div>

                            <div class="img-container" th:unless="${nguoidung.photo}">
                                <img class="img-thumbnail" src="/img/anonymous-user.png" width="70"/>
                            </div>
                        </a>
                        <div class="d-flex flex-column justify-content-start ml-2 mt-2">
                            <a href="/dangchothemsau">
                                <span class="d-block font-weight-bold name" th:text="${nguoidung.fullName}"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <a href="/dangchothemsau">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>Bạn bè</span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="/dangchothemsau">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>Đã Lưu</span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="/dangchothemsau">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>Nhóm</span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="/dangchothemsau">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>Video</span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="/dangchothemsau">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>Sự Kiện</span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="/dangchothemsau">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>Danh sách bạn bè</span>
                    </a>
                </li>


            </ul>
        </div>


    </div>

    <!--    content-->
    <div class="col-sm-6 bg-warning overflowSide">
        <div class="mt-2">
            <div class="d-flex justify-content-center row">
                <div class="col-md-10">
                    <a href="/dangchothemsau">
                        <div class="img-container" th:if="${nguoidung.photo}">
                            <img class="img-thumbnail" th:src="${nguoidung.photo}" width="70">
                        </div>

                        <div class="img-container" th:unless="${nguoidung.photo}">
                            <img class="img-thumbnail" src="/img/anonymous-user.png" width="70"/>
                        </div>
                    </a>
                    <span>
                            <input class="createPost w-50" type="text" data-toggle="modal" data-target="#createPost"
                                   placeholder="Bạn đang nghĩ gì thế">
                        <!--                            <a id="createPostForm" class="btn btn-primary">Create post</a>-->
                    </span>

                    <!-- Modal create -->
                    <div class="modal fade" id="createPost" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title align-content-center" id="exampleModalLongTitle">Tạo bài
                                        viết</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="form-group" id="createPostForm" th:action="@{/posting}" method="post">

                                        <div class="d-flex flex-row user-info">
                                            <a href="/dangchothemsau" class="mt-3">
                                                <div class="img-container" th:if="${nguoidung.photo}">
                                                    <img class="img-thumbnail" th:src="${nguoidung.photo}" width="70">
                                                </div>

                                                <div class="img-container" th:unless="${nguoidung.photo}">
                                                    <img class="img-thumbnail" src="/img/anonymous-user.png" width="70"/>
                                                </div>
                                            </a>
                                            <div class="d-flex flex-column justify-content-start ml-2">
                                                <a href="/dangchothemsau">
                                                    <input type="hidden" th:value="${nguoidung.id}" name="user_id">
                                                    <span class="d-block font-weight-bold name">User</span>
                                                </a>
<!--                                                <select class="form-control" name="description">-->
<!--                                                    <option value="Public">Public</option>-->
<!--                                                    <option value="Private">Private</option>-->
<!--                                                    <option value="Friend">Friend</option>-->
<!--                                                </select>-->
                                            </div>
                                        </div>

                                        <input type="text" name="title" placeholder="title">

                                        <textarea class="form-control" rows="5" cols="25"
                                                  placeholder="Bạn đang nghĩ gì thế" id="postContent" name="content">
                                        </textarea>

                                        <input th:value="${user}" name="usernameposting" id="usernameposting" readonly>

                                        <div class="modal-footer">
                                            <a href="/home" class="btn btn-secondary">Close</a>

                                            <button type="submit" id="submitEdit" class="btn btn-primary">SUBMIT
                                            </button>&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                    moda end-->
                    <hr>

                    <!--                    post-->


                    <div class="d-flex flex-column comment-section" th:each="post:${posts}">
                        <div class="bg-white p-2">
                            <div class="d-flex flex-row user-info">
                                <a href="/dangchothemsau">
                                    <div class="img-container" th:if="${post.user.photo}">
                                        <img class="img-thumbnail" th:src="${post.user.photo}" width="70">
                                    </div>

                                    <div class="img-container" th:unless="${post.user.photo}">
                                        <img class="img-thumbnail" src="/img/anonymous-user.png" width="70"/>
                                    </div>
                                </a>
                                <div class="d-flex flex-column justify-content-start ml-2">
                                    <a href="/dangchothemsau">
                                        <span class="d-block font-weight-bold name" th:text="${post.user.fullName}"></span>
                                    </a>
                                    <span class="date text-black-50" th:text="${post.createdDate}">Shared publicly - Jan 2020</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <p class="comment-text" th:utext="${post.content}"></p>
                            </div>
                        </div>
                        <div class="bg-white">
                            <div class="d-flex flex-row fs-12">
                                <div class="like p-2 cursor" >
                                    <form th:action="@{/like}" method="post" th:id="${post.id}" th:unless="${post.like}">
                                        <input type="hidden" th:value="${post.id}" name="post_id">
                                        <input type="hidden" th:value="${nguoidung.id}" name="user_id">
                                    <button  type="submit">
                                        <i class="fa fa-thumbs-o-up"></i><span class="ml-1" >Like</span>
                                    </button>
                                    </form>

                                    <form th:action="@{/dislikePost}" method="post" th:id="${post.id}" th:if="${post.like}">
                                        <input type="hidden" th:value="${post.id}" name="post_id">
                                        <input type="hidden" th:value="${nguoidung.id}" name="user_id">
                                        <button  type="submit" class="btn-danger">
                                            <i class="fa fa-thumbs-o-up"></i><span class="ml-1" >Like</span>
                                        </button>
                                    </form>
                                </div>
                                <div class="like p-2 cursor">
                                    <a href="/dangchothemsau">
                                        <i class="fa fa-commenting-o"></i>
                                        <span class="ml-1">Comment</span>
                                    </a>

                                </div>
                                <div class="like p-2 cursor">
                                    <a href="/dangchothemsau">
                                        <i class="fa fa-share"></i>
                                        <span class="ml-1">Share GGG</span>
                                    </a>
                                </div>
                            </div>
                        </div>
<!--                        commentList-->
                        <div class="bg-light p-2" th:each="comment:${post.commentList}">
                            <div class="d-flex flex-row user-info">
                                <a href="/dangchothemsau">
                                    <div class="img-container" th:if="${comment.user.photo}">
                                        <img class="img-thumbnail" th:src="${comment.user.photo}" width="70">
                                    </div>

                                    <div class="img-container" th:unless="${comment.user.photo}">
                                        <img class="img-thumbnail" src="/img/anonymous-user.png" width="70"/>
                                    </div>
                                </a>
                                <div class="d-flex flex-column justify-content-start ml-2">
                                    <a href="#">
                                        <span class="d-block font-weight-bold name" th:text="${comment.user.username}">Marry Andrews</span>
                                    </a>
                                    <span class="date text-black-50 createPost" th:text="${comment.content}">Day la commentasdfghjkkhmgfdsadfgdffghfds asshgjgbfdsdfmghfdsdgfncbvdsgfbvds</span>

                                    <div class="d-flex flex-row fs-12">
                                        <div class="like p-2 cursor">
                                            <form th:action="@{/like}" method="post" th:unless="${comment.like}">
                                                <input type="hidden" th:value="${comment.id}" name="comment_id">
                                                <input type="hidden" th:value="${nguoidung.id}" name="user_id">
                                                <button  type="submit">
                                                    <i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span>
                                                </button>
                                            </form>

                                            <form th:action="@{/dislikeComment}" method="post" th:id="${post.id}" th:if="${comment.like}">
                                                <input type="hidden" th:value="${comment.id}" name="post_id">
                                                <input type="hidden" th:value="${nguoidung.id}" name="user_id">
                                                <button  type="submit" class="btn-danger">
                                                    <i class="fa fa-thumbs-o-up"></i><span class="ml-1" >Like</span>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="like p-2 curs   or">
                                            <a href="#">
                                                <i class="fa fa-commenting-o"></i>
                                                <span class="ml-1">Repply</span>
                                            </a>
                                        </div>
                                        <div class="like p-2 cursor">
                                            <a href="#">
                                                <i class="fa fa-share"></i>
                                                <span class="ml-1">Share</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!                          --createComment-->
                        <form th:action="@{/createComment}" method="post">
                        <div class="bg-light p-2">
                            <input type="hidden"  th:value="${nguoidung.id}" name="user_id">
                            <input type="hidden"  th:value="${post.id}" name="post_id">
                            <div class="d-flex flex-row align-items-start">
                                <a href="/dangchothemsau">
                                    <div class="img-container" th:if="${nguoidung.photo}">
                                        <img class="img-thumbnail" th:src="${nguoidung.photo}" width="70">
                                    </div>

                                    <div class="img-container" th:unless="${nguoidung.photo}">
                                        <img class="img-thumbnail" src="/img/anonymous-user.png" width="70"/>
                                    </div>
                                </a>
                                <textarea class="form-control ml-1 shadow-none textarea" id="commentArea" name="content"></textarea></div>
                            <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="submit" id="postComment">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="reset">Cancel</button></div>
                        </div>
                        </form>
                        <hr>
                    </div>

                    <!--postend-->
                </div>
            </div>
        </div>
    </div>

    <!--    rightside-->
    <div class="col-sm-3 bg-warning overflowSide">
        <div class="card">
            <div class="card-header">
                <strong>Người Liên hệ</strong>
            </div>
            <div class="list-group">
                <th:block th:each="usersss : ${userList}">
                <a href="/dangchothemsau" class="list-group-item active bg-secondary">
                    <span>

                                    <div class="img-container" th:if="${usersss.photo}">
                                        <img class="img-thumbnail" th:src="${usersss.photo}" width="70">
                                    </div>

                                    <div class="img-container" th:unless="${usersss.photo}">
                                        <img class="img-thumbnail" src="/img/anonymous-user.png" width="70"/>
                                    </div>

                    </span>
                    <p th:text="${usersss.username}"></p>
                </a>
                </th:block>


            </div>
        </div>

    </div>
<!--    right end-->
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

    function likePostAction(post_id){
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            cache: false,
            data: JSON.stringify(json),
            url: "/post/create",
            success: function (posts) {

                // location.reload();
                console.log(posts[0].user.id);
            }
        });
        $(`#${post_id}`).submit(function (event) {
            var user_id = $('#user_id').val();
            var content = $('#postContent').val();
            var content1 = document.getElementById("postContent").value;
            console.log(content1);
            var json = {"user": {"id": user_id}, "content": content};

            event.preventDefault();
        });
    }



    // $(document).ready(function () {
    //     tinymce.init({
    //         selector: '#postContent',  // change this value according to your HTML
    //         plugins: [
    //             'advlist autolink lists link image charmap print preview anchor',
    //             'searchreplace visualblocks code fullscreen',
    //             'insertdatetime media table paste code help wordcount'
    //         ],
    //         toolbar: 'undo redo | formatselect | ' +
    //             'bold italic backcolor | alignleft aligncenter ' +
    //             'alignright alignjustify | bullist numlist outdent indent | ' +
    //             'removeformat | image |help',
    //         content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
    //         menubar: 'insert',
    //
    //         video_template_callback: function (data) {
    //             return '<video width="' + data.width + '" height="' + data.height + '"' + (data.poster ? ' poster="' + data.poster + '"' : '') + ' controls="controls">\n' + '<source src="' + data.source + '"' + (data.sourcemime ? ' type="' + data.sourcemime + '"' : '') + ' />\n' + (data.altsource ? '<source src="' + data.altsource + '"' + (data.altsourcemime ? ' type="' + data.altsourcemime + '"' : '') + ' />\n' : '') + '</video>';
    //         }
    //     });
    //
    //
    //     // $('#createPostForm').submit(function (event) {
    //     //     var user_id = $('#user_id').val();
    //     //     var content = $('#postContent').val();
    //     //     var content1 = document.getElementById("postContent").value;
    //     //     console.log(content1);
    //     //     var json = {"user": {"id": user_id}, "content": content};
    //     //     $.ajax({
    //     //         headers: {
    //     //             'Accept': 'application/json',
    //     //             'Content-Type': 'application/json'
    //     //         },
    //     //         type: "POST",
    //     //         cache: false,
    //     //         data: JSON.stringify(json),
    //     //         url: "/post/create",
    //     //         success: function (posts) {
    //     //
    //     //             // location.reload();
    //     //             console.log(posts[0].user.id);
    //     //         }
    //     //     });
    //     //     event.preventDefault();
    //     // });
    //
    //     // $('#postComment').click(function (event) {
    //     //     var user_id = $('#userComment').val();
    //     //     var comment = $('#commentArea').val();
    //     //     var post_id = $('#postID').val();
    //     //     // var comment1 = document.getElementById("commentArea").value;
    //     //     console.log(comment);
    //     //     var json = {"user": {"id": user_id}, "comment": comment, "post": {"id": post_id}};
    //     //     $.ajax({
    //     //         headers: {
    //     //             'Accept': 'application/json',
    //     //             'Content-Type': 'application/json'
    //     //         },
    //     //         type: "POST",
    //     //         cache: false,
    //     //         data: JSON.stringify(json),
    //     //         url: "/comment/create",
    //     //         success: function (comments) {
    //     //             // location.reload();
    //     //             console.log(comments[0].user.id);
    //     //             console.log(comments[0].post.id);
    //     //         }
    //     //     });
    //     //     event.preventDefault();
    //     // });
    // });


</script>

</body>
</html>
